{% extends "::base.html.twig" %}

{% block title %}AppBundle:Blog:show{% endblock %}

{% block body %}
	<div class="panel-heading panel-success">
		<h1 class="panel-title" style="text-transform: uppercase; font-size:20px;">{{ post.title }}</h1>
	</div>
	<div class="panel-body">
		{% if post.imagePath %}
			<img src="{{ asset(post.imagePath) }}" width="100%" height="auto" style="margin-bottom: 25px;">
		{% endif %}
		<p>{{ post.content }}</p>
		<div>
			<h3 style="text-transform: uppercase" >Tags of post</h3>
			{{ post.tags }}
		</div>
		<div class="pull-right">
			{{ post.createdAt|date('jS F, Y') }}
		</div>
		<div class="btns">
			<a class="btn btn-danger" href="{{ path('remove_post', {'post': post.id}) }}">Remove post</a>
			<a class="btn btn-warning" href="{{ path('update_post', {'post': post.id}) }}">Update post</a>
		</div>
	</div>
{% endblock %}
