{% extends 'base.html.twig' %}

{% block body %}
    <h1>Category edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-success" type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul style="padding: 0">
        <li style="list-style-type:none; margin: 10px 0;">
            <a class="btn btn-info" href="{{ path('category_index') }}">Back to the list</a>
        </li>
        <li style="list-style-type:none;">
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
