{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tags edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-success" type="submit" value="Edit"  style="margin-bottom: 10px;"/>
    {{ form_end(edit_form) }}
 <ul style="padding: 0;">
        <li style="list-style-type: none;">
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete" style="margin-bottom: 10px;">
            {{ form_end(delete_form) }}
            <a class="btn btn-info" style="margin-bottom: 10px;" href="{{ path('tags_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
